body{
		margin: 0;
		font-family: "segoe ui";
}

header{
	background-color: #25c420;
	height: 31px;
	padding: 4px 200px 0 0;
	color: #333;
	text-align: right;
}

footer{
	height: 40px;
	width: 100%;
	padding-top: 15px;
	background-color: #333;
	text-align: center;
	color: white;
}

a{
	color: black;
	font-weight: bold;
}

footer a{
	color: white;
}

.page{
	padding: 0 200px 0 200px;
}

.area_pesquisa{
	background-color: #333;
	text-align: center;
}

.area_pesquisa input[type="text"]{
	height: 50px;	
	width: 370px;
	margin: 0 3px 100px 0;
	border: 0;
	padding: 0 0 0 10px;
}


#big_logo{
	margin-bottom: 40px;
	/*background: url(alugase.png) center no-repeat;*/
}

#botoes_home button{
	border-color: white;
	border-style: solid;
	background: none;
	width: 105px;
	height: 29px;
	color: white;
	font-size: 20px;
	margin: 7px;
}

.input_text{
	margin: 0;
}

.buscar{
	margin: 0;
	height:  50px;
	width: 200px;
	background-color: #25c420;
	border-width: 0;
	font-size: 20px;
	padding: 0;
}

#sec_search{
	width: 100%;
	height: 900px;
	margin: 0 auto;
	padding-top: 30px;
}

#div_search{
	width: 810px;
	margin: 0 auto;
}

#main_box{
	width: 250px;
	height: 400px;
	background-color: #D2D3D5;
	margin: 10px;
	padding-top: 10px;
	float: left;
}

#photo_box{
	width: 230px;
	height: 230px;
	background-color: blue;
	margin: 5px;
	margin: auto;
}

h3{
	margin: 10px;

}

p{
	margin: 10px;

}

#sec_anuncio{
	width: 100%;
	height: 200px;
	background-color: #848688;
}

#div_anuncio{
	width: 800px;
	height: 200px;
	margin: 0 auto;


}

#div_column{

	width: 2px;
	height: 200px;
	background-color: #333;
	float: left;
}

.anuncio{
	width: 399px;
	height: 200px;
	margin: 0;
	float: left;

}

.anuncio h2{
	text-align: center;
}

.anuncio_button{
	width: 200px;
	height: 60px;
	margin: auto;
}

.anuncio_button input[type="button"]{
	width: 200px;
	height: 60px;
}