body{
		margin: 0;
		font-family: "segoe ui";
}

header{
	background-color: #25c420;
	height: 31px;
	padding: 4px 200px 0 0;
	color: #333;
	text-align: right;
}

footer{
	height: 40px;
	width: 100%;
	padding-top: 15px;
	background-color: #333;
	text-align: center;
	color: white;
	display: inline-block;
}

a{
	color: black;
	font-weight: bold;
}

footer a{
	color: white;
}

.titulo{
	padding-bottom: 20px;
	color: white;
}

.page{

}

.page_top{
	background-color: #333;
	text-align: center;
}
 
#logo{
	margin-bottom: 30px;
}

#home_search{
	background-color: white;
    width:370px;
    height:40px;
    text-align: 0 auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

#txt_search{
   
	float:left;
	height: 38px;
	width: 290px;
    background-color:transparent;
    padding-left:5px;   
    font-size:18px;
    border:none;
}
 
#button_search{
	/*font-size: 17px;*/
    border:none;
    height: 40px;
   /* width:75px;*/
    font-weight:bold;
    background:#25c420;
}

#home_button button{
	border-color: white;
	border-style: solid;
	background: none;
	width: 105px;
	height: 29px;
	color: white;
	font-size: 20px;
	margin: 7px;
}

#home_button ul{
	display: inline-flex;
	padding: 0;
}

#home_button li{
	list-style: none;
}

#home_notification{
	background-color: #878887;
	color: white;
}

#home_notification ul{
	display: inline-flex;
	margin-top: 0;
	margin-bottom: 32px;
}

#home_notification li{
	list-style: none;
	width: 400px;
}

#home_notification button{
	margin: 0;
	height:  50px;
	width: 200px;
	background-color: #25c420;
	border-width: 0;
	font-size: 20px;
	padding: 0;

}

#show_product{

}

#show_product ul{

	padding: 0 200px;
	padding-top: 15px;
	width: 810px;
	margin: 0 auto;
}

#show_product li{
	list-style: none;
	text-align: center;
	width: 209px;
	background-color: #acacac;
	padding: 7px;
	margin: 15px;	
	float: left;
}

#show_product h2{
	margin-top: 0;
	margin-bottom: 10px;
}

#show_product h5{
	margin-top: 10px;
	margin-bottom: 10px;
}

.login{
	background-color: #727373;
	padding: 5% 30%;
	color: white;
}

.login h4{
	margin: 2px;
}

.login button{
	margin: 0;
	height:  50px;
	width: 200px;
	background-color: #25c420;
	border-width: 0;
	font-size: 20px;
	padding: 0;
}

#login{

}

#user_account{
	width: 100%;
	height: 150px;
	background-color: #D2D2D3;
}

#div_account{
	width: 800px;
	height: 150px;
	margin: auto auto;
	padding: 20px;
}

#avatar{
	width: 100px;	
	height: 100px;
	background-color: #606062;
	float: left;
}

#info h4{
	margin: 0;
	margin-left: 120px;
	text-align: left;
	color: black;
}

#info h2{
	margin: 0;
	margin-left: 120px;
	text-align: left;
	color: black;
}