body{
		margin: 0;
		font-family: "segoe ui";
}

header{
	background-color: #25c420;
	height: 31px;
	padding: 4px 200px 0 0;
	color: #333;
	text-align: right;
}

footer{
	height: 40px;
	width: 100%;
	padding-top: 15px;
	background-color: #333;
	text-align: center;
	color: white;
}

a{
	color: black;
	font-weight: bold;
}

footer a{
	color: white;
}

.page{

}

.page_top{
	background-color: #333;
	text-align: center;
}
 
#logo{
	margin-bottom: 30px;
}

#home_search{
	background-color: white;
    width:370px;
    height:40px;
    text-align: 0 auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

#txt_search{
   
	float:left;
	height: 38px;
	width: 290px;
    background-color:transparent;
    padding-left:5px;   
    font-size:18px;
    border:none;
}
 
#button_search{
	font-size: 17px;
    border:none;
    height: 40px;
    width:75px;
    font-weight:bold;
    background:#25c420;
}

#home_button button{
	border-color: white;
	border-style: solid;
	background: none;
	width: 105px;
	height: 29px;
	color: white;
	font-size: 20px;
	margin: 7px;
}

#home_button ul{
	display: inline-flex;
	padding: 0;
}

#home_button li{
	list-style: none;
}

#home_notification{
	background-color: #878887;
	color: white;
}

#home_notification ul{
	display: inline-flex;
	margin-top: 0;
	margin-bottom: 32px;
}

#home_notification li{
	list-style: none;
	width: 400px;
}

#home_notification button{
	margin: 0;
	height:  50px;
	width: 200px;
	background-color: #25c420;
	border-width: 0;
	font-size: 20px;
	padding: 0;

}

#show_product{

}

#show_product ul{
	/*display: inline-flex;*/
	margin-top: 0;
	margin-bottom: 32px;
	width: 800px;
	padding: 0 200px;
}

#show_product li{
	list-style: none;
	text-align: center;
	width: 209px;
	background-color: #acacac;
	padding: 7px;
	margin: 15px;
}

#show_product h2{
	margin-top: 0;
	margin-bottom: 10px;
}

#show_product h5{
	margin-top: 10px;
	margin-bottom: 10px;
}

#sec_search{
	width: 100%;
	height: 900px;
	margin: 0 auto;
	padding-top: 30px;
}

#div_search{
	width: 810px;
	margin: 0 auto;
}

#main_box{
	width: 250px;
	height: 400px;
	background-color: #D2D3D5;
	margin: 10px;
	padding-top: 10px;
	float: left;
}

#photo_box{
	width: 230px;
	height: 230px;
	background-color: blue;
	margin: 5px;
	margin: auto;
}

h3{
	margin: 10px;

}

p{
	margin: 10px;

}

#sec_anuncio{
	width: 100%;
	height: 200px;
	background-color: #848688;
}

#div_anuncio{
	width: 800px;
	height: 200px;
	margin: 0 auto;


}

#div_column{

	width: 2px;
	height: 200px;
	background-color: #333;
	float: left;
}

.anuncio{
	width: 399px;
	height: 200px;
	margin: 0;
	float: left;

}

.anuncio h2{
	text-align: center;
}

.anuncio_button{
	width: 200px;
	height: 60px;
	margin: auto;
}

.anuncio_button input[type="button"]{
	width: 200px;
	height: 60px;
}